<div class="cover" {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}}){{/if}}">
  <div class="container">
    <div class="cover-content">
      <h1 class="site-title">
        {{@blog.title}}
      </h1>
      <h2 class="site-description">{{@blog.description}}</h2>
    </div>
  </div>
</div>