<footer class="site-footer{{#if @labs.subscribers}} arc{{/if}}">
  <div class="footer-wrapper inner">
    <div class="footer-widget">
      <h3>最新文章</h3>
      {{> "recent-post"}}
    </div>
    <div class="footer-widget">
      <h3>关注我</h3>
      <ul class="social">
        <li class="grow-rotate ">
          <a href="https://github.com/hezhii" target="_blank" rel="nofollow noopener noreferrer">
            <i class="icon icon-github"></i>
          </a>
        </li>
        <li class="grow-rotate ">
          <a href="https://codepen.io/hezhou" target="_blank" rel="nofollow noopener noreferrer">
            <i class="icon icon-codepen"></i>
          </a>
        </li>
        <li class="grow-rotate ">
          <a href="https://weibo.com/hlvyang" target="_blank" rel="noopener noreferrer">
            <i class="icon icon-weibo"></i>
          </a>
        </li>
        <li class="grow-rotate ">
          <a href="/rss">
            <i class="icon icon-rss"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-widget">
      <h3>关于</h3>
      <p>沉淀知识，分享生活。<br/>这是我的个人博客，记录平时遇到的技术问题和学习到新的知识，分享自己的一些生活、感悟。博客内容不定期更新，欢迎大家订阅我的博客，获取第一手动态，共同交流进步。</p>
    </div>
  </div>
  <div class="bottom-bar">
    © 2018 <a href="{{@blog.url}}">{{@blog.title}}</a>. All right Reserved - Powered by <a href="https://ghost.org/">Ghost</a>
  </div>
</footer>