<header class="site-header">
  <nav class="navbar">
    <div class="container clearfix">
      <a href="/" class="logo">
        {{#if @blog.logo}}
          <img src="{{@blog.logo}}" alt="logo">
        {{/if}}
      </a>
      {{navigation}}
    </div>
  </nav>
</header>