<nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a href="/" class="navbar-brand">
      {{#if @blog.logo}}
        <img src="{{@blog.logo}}" alt="logo" width="40" height="40">
      {{/if}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      {{navigation}}
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="关键字" aria-label="Search">
        <button id="searchBtn" class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
      </form>
    </div>
  </div>
</nav>
