@import "variables";
@import "mixins";
@import "reset";
@import "hamburgers";
@import "iconfont";
@import "base";

/* 1. Site Header
/* ---------------------------------------------------------- */

.site-header {
  padding: $space-md $space-md $space-md*4;

  .c-navbar {
    margin: auto;
    max-width: 1200px;
  }
}

.c-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.c-navbar__brand {
  padding: $space-xs 0;
  img {
    vertical-align: top;
  }
}

.c-navbar__toggler {
  display: none;
  &:focus {
    outline: none;
  }
}

.c-navbar__collapse {
  overflow: hidden;
  transition: max-height .5s;

  &.show {
    max-height: 200px;
  }
}

.c-navbar__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-navbar__link {
  color: $primary;
}

.c-navbar__link {
  display: block;
  padding: $space-xs $space-md;
  font-size: 1.6rem;
  color: $gray-10;

  @include hover-focus {
    color: $primary;
  }
}

@include media-breakpoint-down('md') {
  .c-navbar__toggler {
    display: block;
  }

  .c-navbar__collapse {
    flex-basis: 100%;
    max-height: 0;
  }

  .c-navbar__list {
    flex-direction: column;
  }

  .c-navbar__link {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .site-header {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* 2. Layout
/* ---------------------------------------------------------- */

.outer {
  padding: 0 $space-md;
}

.inner {
  margin: 0 auto;
  max-width: 1040px;
}

.site-main {
  padding-bottom: $space-xl;
}

.outset-column {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  & + .inset-column {
    margin-top: $space-lg;
  }
}

.inset-column {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  padding-left: $space-md;
  padding-right: $space-md;
}

/* 3. Banner
/* ---------------------------------------------------------- */

.home-title {
  font-size: 40px;
  margin-bottom: .2em;
}

.home-description {
  font-size: 18px;
  color: $text-color-light;
  margin-bottom: 2.4em;
}

// tag cloud

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 12px;
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 12px;
  font-size: $font-size-sm;
  font-weight: 600;
  transition: opacity .3s;

  &:hover {
    opacity: 0.8;
  }
}

@for $i from 1 to length($tag-colors)+1 {
  $tag-color: nth($tag-colors, $i);
  .tag-cloud .tag:nth-child(#{$i}) {
    color: $tag-color;
    background: rgba($tag-color, 0.2);
  }
}

/* 4. Post list
/* ---------------------------------------------------------- */

.post-feed {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding-top: $space-xl;
}

.post-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  margin: 0 20px 40px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  transition: all 0.5s ease;
}

.post-card:hover {
  box-shadow: rgba(39, 44, 49, 0.07) 8px 28px 50px, rgba(39, 44, 49, 0.04) 1px 6px 12px;
  transform: translate3D(0, -1px, 0) scale(1.02);
}

.post-card__image-link {
  display: block;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.post-card__image {
  width: auto;
  height: 200px;
  background: $gray-3 no-repeat center center;
  background-size: cover;
}

.post-card__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.post-card__content-link {
  display: block;
  padding: 25px 25px 0;
  color: $text-color;

  &:hover {
    color: $text-color;
  }
}

.post-card__tag {
  display: block;
  margin-bottom: 4px;
  color: $gray-8;
  font-size: 1.2rem;
  line-height: 1.15em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.post-card__meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: $gray-8;
  padding: 0 25px 25px;

  .reading-time {
    font-weight: 500;
    text-transform: uppercase;
  }
}

.post-card__author {
  display: flex;
  align-items: center;

  .avatar {
    margin-right: $space-xs;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    object-fit: cover;
  }
}

// Forked from Casper
// @see https://github.com/TryGhost/Casper
@include media-breakpoint-up('lg') {
  .post-feed .post-card:nth-child(6n+1) {
    flex: 1 1 100%;
    flex-direction: row;

    .post-card__image-link {
      flex: 1 1 auto;
      border-radius: 5px 0 0 5px;
    }

    .post-card__image {
      width: 100%;
      height: 100%;
    }

    .post-card__content {
      flex: 0 1 360px;
    }

    h2 {
      font-size: 2em;
    }

    p {
      font-size: 1.6rem;
    }

    .post-card__content-link {
      padding: 30px 40px 0;
    }

    .post-card__meta {
      padding: 0 40px 30px;
    }
  }
}

/* 5. Pagination
/* ---------------------------------------------------------- */
.post-pagination {
  position: relative;
  text-align: center;
  color: $primary;
  padding: $space-md 0;

  .newer-posts {
    position: absolute;
    left: 0;
    top: 0;
  }

  .older-posts {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 500px) {
  .post-pagination .page-number {
    display: none;
  }
}

/* 6. Newsletter
/* ---------------------------------------------------------- */

.newsletter {
  text-align: center;

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}

.newsletter-divider {
  display: inline-block;
  margin-bottom: $space-md;
  width: 100px;
  height: 3px;
  border-radius: 1px;
  background: linear-gradient(to right, $gray-1 0%, $gray-5 100%);
}

.newsletter-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: $space-xl;
  padding: 36px;
  background: linear-gradient(to bottom right, darken($primary, 20%) 0%, $primary 100%);
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 25px 50px -24px rgba(0, 0, 0, 0.4);

  .form-group {
    flex: 1 1 300px;
  }

  .icon {
    color: white;
    font-size: 20px;
  }
}

.newsletter-button {
  padding: 10px 20px;
  font-weight: 500;
  margin: 16px 0;
  background: white;
  color: $primary;
}

.newsletter-input {
  width: 100%;
  border-radius: 4px;
  padding: 7px 0 7px 30px;
  background: transparent;
  color: white;
  border: none;
  caret-color: #fff;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: white;
  }

  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
  }
}

@include media-breakpoint-up('xl') {
  .newsletter-form {
    border-radius: 16px;
  }

  .newsletter-button {
    border-radius: 8px;
  }
}

/* 7. Back to top button
/* ---------------------------------------------------------- */

#backTop {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 42px;
  height: 42px;
  background: $primary;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0px -2px rgba(0, 0, 0, 0.2);

  .icon {
    font-size: 20px;
    color: white;
  }
}

/* 8. Footer
/* ---------------------------------------------------------- */

.site-footer {
  background: $gray-3;

  &.arc {
    margin-top: -30px;
    border-top-left-radius: 50% 50px;
    border-top-right-radius: 50% 50px;

    .footer-wrapper {
      padding-top: 112px;
    }
  }
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 64px 16px 72px;
}

.footer-widget {
  flex: 1 0 300px;
  padding: 0 8px;
  margin-bottom: 28px;
  color: $text-color-secondary;

  h3 {
    margin-bottom: 32px;
  }
}

// Recent post

.recent-post {
  display: flex;
  margin-bottom: $space-md;
}

.recent-post__image-link {
  display: block;
  flex: 0 0 70px;

  &:hover {
    .recent-post__image {
      opacity: .8;
    }
  }
}

.recent-post__image {
  width: 100%;
  height: 100%;
  background: no-repeat center/cover;
  transition: all .3s;
}

.recent-post__content {
  padding-left: 16px;
  overflow: hidden;

  p {
    font-size: 12px;
  }

  .icon {
    margin-right: 3px;
    font-size: 12px;
  }
}

.recent-post__title {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $text-color;

  @include hover-focus {
    color: $primary;
  }
}

// Link hover underline

.underline {
  position: relative;
  z-index: 1;
  padding-bottom: 2px;

  &:before {
    content: '';
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 90%;
    height: 1px;
    background: $primary;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  &:hover:before {
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}

// Social link

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 24px;
  }

  a {
    color: $text-color-secondary;
    &:hover {
      color: $primary
    }
  }

  .icon {
    font-size: 32px;
  }
}

.grow-rotate {
  transition: transform .3s;
  @include hover-focus-active {
    transform: scale(1.2) rotate(5deg);
  }
}

// Bottom bar

.bottom-bar {
  font-size: 16px;
  padding: 16px;
  text-align: center;
  border-top: 1px solid $gray-4;
}

/* 9. Single Post
/* ---------------------------------------------------------- */

.post-template {
  .site-main {
    padding-bottom: $space-lg;
  }
}

.post-full {
  word-break: break-word;
}

.post-full__image {
  height: 540px;
  background: $gray-3 50%;
  background-size: cover;
  border-radius: 5px;
}

@include media-breakpoint-down('md') {
  .post-full__image {
    height: 480px;
  }
}

@include media-breakpoint-down('sm') {
  .post-full__image {
    height: 360px;
  }
}

.post-full__header {
  padding-bottom: $space-md*2;
}

.post-full__title {
  font-size: 32px;
  font-weight: $font-weight-bold;
  margin-bottom: $space-xs;
}

.post-full__meta {
  color: $text-color-light;

  .icon {
    font-size: 14px;
    margin-right: 3px;
  }

  > span {
    margin-right: $space-sm;
  }

  a {
    color: $text-color-light;
    &:hover {
      color: $primary
    }
  }
}

.post-full__content {
  font-size: 16px;
  line-height: 1.8;
}

// Markdown style.

.post-full__content {
  h1 {
    font-size: 2em;
    line-height: 1.75em;
  }

  h2 {
    font-size: 1.75em;
    line-height: 1.5em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  h4 {
    font-size: 1.25em;
    line-height: 1em;
  }

  h5 {
    font-size: 1em;
    line-height: 0.86em;
  }

  h6 {
    font-size: 0.86em;
    line-height: 0.75em;
  }

  h1, h2, h3 {
    margin: 1.4em 0 0;
  }

  h4, h5, p, ul, ol, pre, blockquote, table {
    margin: 1.2em 0;
  }

  h1, h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }

  h1, h2, h3, h4, p, ul, ol, pre, blockquote {
    &:first-child {
      margin-top: 0;
    }
  }

  ul, ol {
    margin-left: 2.8em;
    padding-left: 0;
    li {
      margin: .3em 0;
    }

    ul, ol {
      margin-top: 0;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  p > p:empty, div > p:empty, p > div:empty, div > br:only-child, p + br, img + br {
    display: none;
  }

  img, video, audio {
    position: static !important;
    max-width: 100%
  }

  img {
    padding: 3px;
    border: 1px solid $gray-5;
  }

  blockquote {
    border-left: 3px solid $primary;
    padding-left: 5px;
    background: $gray-3;
    color: $gray-8;
    font-size: 1em;
  }

  pre {
    padding: 1em;
    border: none;
    overflow: auto;
    line-height: 1.45;
    max-height: 35em;
    position: relative;
    background: $gray-3;

    code {
      font-size: 1em;
      padding: 0;
      color: inherit;
      background: none;
      overflow-wrap: normal;
      white-space: inherit;
    }
  }

  hr {
    margin: 1.5em auto;
    border-top: 2px dotted $gray-4;
  }

  kbd {
    margin: 0 4px;
    padding: 3px 4px;
    background: $gray-4;
    color: $gray-8;
  }

  table {
    width: 100%;
    th, td {
      border: 1px solid $gray-4;
      padding: 5px 8px;
      word-break: normal
    }
    th {
      background: $gray-3
    }
  }

  a {
    padding-bottom: 1px;
    border-bottom: 1px solid rgba($primary, .25);

    &:hover {
      border-bottom-color: rgba($primary, .6);
    }
  }

  // Footnotes

  .footnotes-list {
    margin-left: 1.2em;
  }

  .footnote-backref, .footnote-ref a {
    border-bottom: none;
  }
}

.post-full__footer {
  padding-top: $space-lg;

  .statement {
    text-align: center;
    color: $text-color-secondary;
    margin: 8px 0;

    a {
      display: block;
    }
  }
}

.article-related {
  padding: $space-md;
  border-top: 1px solid $gray-4;

  h4 {
    font-size: 18px;
    margin-bottom: $space-md;
  }

  ul {
    padding: 0 0 0 25px;

    li {
      margin-bottom: 3px;
      line-height: 28px;
      list-style: disc;

      a {
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* 10. Comment
/* ---------------------------------------------------------- */

#disqus_thread {
  margin: 0 auto $space-lg;
  max-width: 740px;
}

/* 11. Reward
/* ---------------------------------------------------------- */
.reward {
  text-align: center;
  margin: 18px 0;

  p {
    font-size: 16px;
    font-weight: 500;
    color: $gray-7;
  }

  .btn {
    color: $gray-1;
    background-color: $primary;
    transition: opacity .3s;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;

    @include hover-focus {
      opacity: .8;
    }
  }
}

#rewardOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9000;
  background: darken($primary, 45%);
  transition: opacity .2s ease-in;
  opacity: 0;
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: auto;

  &.show {
    opacity: .9;
    pointer-events: auto;
  }
}

#closeReward {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  cursor: pointer;
  &::before, &::after {
    position: absolute;
    top: 40px;
    right: 25px;
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.reward-overlay__content {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 64px 16px 0;
  max-width: 640px;
  margin: 0 auto;

  .title {
    color: white;
    font-size: 36px;
  }

  p {
    text-align: left;
  }
}

.money-code-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .money-code {
    span {
      display: block;
      font-weight: 500;
      text-align: center;
      margin-bottom: 8px;
    }

    img {
      border-radius: 18px;
      border: 6px solid $primary
    }
  }

  .money-code:last-child {
    img {
      border-color: $green;
    }
  }
}