@import 'lib/normalize.css';
@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color;
  line-height: $line-height-base;
  background-color: $body-background;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em;
  color: $heading-color;
  font-weight: 500;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 500;
}

dd {
  margin-bottom: .5em;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1em;
}

dfn {
  font-style: italic; // Add the correct font style in Android 4.3-
}

b,
strong {
  font-weight: bolder; // Add the correct font weight in Chrome, Edge, and Safari
}

small {
  font-size: 80%; // Add the correct font size in all browsers
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: $link-color;
  background-color: transparent; // emove the gray background on active links in IE 10.
  text-decoration: $link-decoration;
  outline: none;
  cursor: pointer;
  transition: color .3s;

  &:focus {
    text-decoration: underline;
    text-decoration-skip: ink;
  }

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }

  &:active,
  &:hover {
    outline: 0;
    text-decoration: $link-hover-decoration;
  }

  &[disabled] {
    color: $disabled-color;
    cursor: not-allowed;
    pointer-events: none;
  }
}

pre,
code,
kbd,
samp {
  font-family: $code-family;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto;
}

figure {
  // Apply a consistent margin strategy (matches our type styles).
  margin: 0 0 1em;
}

img {
  vertical-align: middle;
  border-style: none; // emove the border on images inside links in IE 10-.
}

::selection {
  background: $primary-6;
  color: #fff;
}

.clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}