@import '_global';

/* 1. Header
/* ---------------------------------------------------------- */

.navbar {
  position: fixed;
  right: 0;
  left: 0;
  background-color: transparent;
  transition: background 0.3s, box-shadow 0.3s;
}

.logo {
  float: left;
  height: $header-height;
  line-height: $header-height;
  overflow: hidden;
  img {
    height: $header-height/2;
    margin-right: 8px;
  }
}

.nav {
  float: right;
  font-family: Lato, $font-family;
  .nav-item {
    position: relative;
    top: 1px;
    float: left;
    margin-top: -1px;
    padding: 0 20px;
    height: $header-height;
    line-height: 60px;
    min-width: 72px;
    border-top: 2px solid transparent;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #fff;
    & > a {
      display: block;
      color: inherit;
      transition: none;
    }
    &:hover {
      border-top: 2px solid $primary-6;
      color: $primary-6;
    }
  }
}

/* 2. Cover
/* ---------------------------------------------------------- */
.cover {
  text-align: center;
  background: #090a0b no-repeat center/cover;
}

.cover-content {
  color: #fff;
  padding-top: 150px;
  padding-bottom: 100px;
}

.site-title {
  margin: 0;
  font-size: 3.8rem;
  font-weight: 700;
}

.site-description {
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: .5px;
  opacity: .8;
}