@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "functions";
@import "icon";

/* 全局样式
/* ---------------------------------------------------------- */
body {
  -webkit-font-smoothing: antialiased;
}

a {
  transition: color .3s ease;
}

.avatar-image {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

/* 页面顶部背景
/* ---------------------------------------------------------- */
.cover {
  text-align: center;
  color: $white;
  background: $primary center/cover;

  .container {
    padding: px2rem(150px) px2rem(60px);
  }

  .avatar-image {
    width: 144px;
    height: 144px;
    margin-bottom: 2rem;
  }

  .title {
    margin: 0;
    padding: 0;
    font-size: px2rem(38px);
    font-weight: 700;
  }

  .description {
    z-index: 10;
    margin: 0;
    padding: 5px 0;
    font-size: px2rem(22px);
    font-weight: 300;
    letter-spacing: .5px;
    opacity: .8;
  }
}

/* 页面主体
/* ---------------------------------------------------------- */
.site-main {
  position: relative;
  padding: 0 4vw;
}

.inner {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

/* 文章卡片列表
/* ---------------------------------------------------------- */
.post-feed {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 40px 0 0 0;
}

.post-card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 40px;
  background: $white center center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.10), 0 3px 16px rgba(39, 44, 49, 0.07);
    transition: all 0.3s ease;
    transform: translate3D(0, -1px, 0);
  }

  .image-link {
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;

    .image {
      width: auto;
      height: 200px;
      background: $gray-400 no-repeat center center;
      background-size: cover;
    }
  }

  .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content-link {
    position: relative;
    display: block;
    padding: 25px 25px 0;
    color: $dark;

    &:hover {
      text-decoration: none;
      color: $dark;
    }
  }

  .tags {
    display: block;
    margin-bottom: 4px;
    color: $gray-700;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .card-meta {
    padding: 0 25px 25px;

    .author-profile-image {
      margin-right: 5px;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      object-fit: cover;
    }

    .author {
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 795px) {
  .post-feed .post-card:nth-child(6n+1) {
    flex: 1 1 100%;
    flex-direction: row;
  }

  .post-feed .post-card:nth-child(6n+1) .image-link {
    position: relative;
    flex: 1 1 auto;
    border-radius: 5px 0 0 5px;
  }

  .post-feed .post-card:nth-child(6n+1) .image {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .post-feed .post-card:nth-child(6n+1) .card-content {
    flex: 0 1 357px;
  }

  .post-feed .post-card:nth-child(6n+1) h2 {
    font-size: 1.625rem;
  }

  .post-feed .post-card:nth-child(6n+1) p {
    font-size: 1.125rem;
  }

  .post-feed .post-card:nth-child(6n+1) .content-link {
    padding: 30px 40px 0;
  }

  .post-feed .post-card:nth-child(6n+1) .card-meta {
    padding: 0 40px 30px;
  }
}

@media (min-width: 900px) {
  .post-feed {
    margin-top: -70px;
    padding-top: 0;
  }
}

/* 文章分页
/* ---------------------------------------------------------- */
.post-pagination {
  position: relative;
  text-align: center;
  color: $primary;

  .newer-posts {
    position: absolute;
    left: 0;
    top: 0;
  }

  .older-posts {
    position: absolute;
    right: 0;
    top: 0;
  }

  a:hover {
    text-decoration: none;
  }
}

@media (max-width: 500px) {
  .post-pagination .page-number {
    display: none;
  }
}

/* 回到顶部按钮
/* ---------------------------------------------------------- */
#backTop {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 32px;
  bottom: 32px;
  width: 42px;
  height: 42px;
  background: $primary;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0px -2px rgba(0, 0, 0, 0.2);
  color: $white;
  &:hover {
    text-decoration: none;
  }
}

/* 订阅
/* ---------------------------------------------------------- */
.newsletter-box {
  margin-top: 40px;
  .newsletter {
    position: relative;
    padding: 32px;
    background-color: lighten($primary, 25%);
    .close {
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }

  .newsletter-title {
    font-size: px2rem(26px);
    margin-bottom: px2rem(20px);
  }

  .newsletter-description {
    font-size: px2rem(18px);
  }

  .newsletter-form {
    margin-top: 16px;
  }
}

/* footer
/* ---------------------------------------------------------- */
.site-footer {
  font-size: 14px;
  position: relative;
  margin-top: 40px;
  background-color: $gray-900;
  color: $white;

  a {
    color: $white;
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

.footer-wrapper {
  position: relative;
  padding: 48px 0 16px;
  border-bottom: 1px solid $gray-600;

  .widget {
    margin-bottom: 32px;
    h2 {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  .social {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 16px;
      .iconfont {
        font-size: 1.6rem;
      }
    }
  }

  .tag-item {
    display: inline-block;
    margin: 0 8px 8px 0;
    border-radius: 4px;
    padding: 0 8px;
    background: $gray-800;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    letter-spacing: 0.4px;
    text-transform: capitalize;

    &:hover {
      color: $white;
      opacity: .85;
    }
  }
}

.footer-bottom {
  line-height: 24px;
  color: $gray-600;

  .content {
    padding: 16px 0;
    text-align: center;
  }

  .divider {
    margin: 0 0.5em;
  }
}

.grow-rotate {
  transition: transform .3s;
  &:active, &:hover, &:focus {
    transform: scale(1.2) rotate(5deg);
  }
}

/* post
/* ---------------------------------------------------------- */
.article-meta-header {
  padding-top: 35px;
  max-width: 740px !important;
}

.article-author {
  display: flex;
  align-items: center;
  .avatar {
    flex: 0 0 auto;
  }
  .info {
    flex: 1 1 auto;
    padding-left: 15px;
    > p {
      margin: 0;
    }
  }
  .name {
    > a {
      color: rgba(0, 0, 0, .84);
    }
  }
  .caption {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    font-weight: 400;
    line-height: 20px;
  }
}

.article-content {
  word-break: break-all;
  word-wrap: break-word;
}

.article-content-outer {
  max-width: 1000px;
  width: 100%;
  margin: 52px auto 0;
}

.article-content-inner {
  width: 100%;
  margin: 52px auto 0;
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
}

.article-image {
  width: 100%;
  max-height: 600px;
}